@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: "IBM Plex Mono", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, 
body {
  height: 100%; /* ensuring full viewport coverage */
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

sup {
  font-size: 0.5em;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #757575, #424242);
  width: 360px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  background-color: #9e9e9e;
  width: 100%; /* occupy all space within container */
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* moves the display content to the far right */
  font-weight: 300;
  font-size: 4.5em;
  background-color: #e0e0e0;
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 40px 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.button {
  font-size: 1.5em;
  background-color: #616161;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button.special {
  background-color: #009688;
}

.button.operation {
  background-color: #ff5722;
}