@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=M+PLUS+1p&family=M+PLUS+2:wght@100..900&family=M+PLUS+Code+Latin:wght@100..700&family=M+PLUS+Rounded+1c&display=swap');

:root {
  --background-color: beige;
  --text-color: #222222;
  --display-color: #f1f1f1;
  --display-txt-color: #222222;
  --calculator-color: #a3a3a3;
  --button-bg-color: #616161;
  --button-txt-color: #f1f1f1;
  --memory-bg-color: rgb(122, 49, 49);
  --memory-txt-color: #f1f1f1;
  --op-bg-color: #ff5722;
  --op-txt-color: #f1f1f1;
  --equals-bg-color: #009688;
  --equals-txt-color: #f1f1f1;
  --ac-bg-color: rgb(58, 49, 122);
  --ac-txt-color: whitesmoke;
  --bksp-bg-color: #ff5722;
  --bksp-txt-color: #f1f1f1;
  --box-shadow-darkest: rgba(0, 0, 0, 0.5);
  --box-shadow-darker: rgba(0, 0, 0, 0.4);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --drop-shadow-btn: green;
}

.light-mode {
  --background-color: beige;
  --text-color: #222222;
  --display-color: #f1f1f1;
  --display-txt-color: #222222;
  --calculator-color: #a3a3a3;
  --button-bg-color: #616161;
  --button-txt-color: #f1f1f1;
  --memory-bg-color: rgb(122, 49, 49);
  --memory-txt-color: #f1f1f1;
  --op-bg-color: #ff5722;
  --op-txt-color: #f1f1f1;
  --equals-bg-color: #009688;
  --equals-txt-color: #f1f1f1;
  --ac-bg-color: rgb(58, 49, 122);
  --ac-txt-color: whitesmoke;
  --bksp-bg-color: #ff5722;
  --bksp-txt-color: #f1f1f1;
  --box-shadow: rgb(69, 69, 69);
  --box-shadow-darkest: rgba(0, 0, 0, 0.5);
  --box-shadow-darker: rgba(0, 0, 0, 0.4);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --border-color: rgb(161, 161, 161);
  --drop-shadow-btn: green;
}

.dark-mode {
  --background-color: #0a0a23;
  --text-color: #ced4e2;
  --display-color: rgba(0, 0, 0, 0.8);
  --display-txt-color: white;
  --calculator-color: #e0e0e0;
  --button-bg-color: #320f20;
  --button-txt-color: white;
  --memory-bg-color: #3a3506;
  --memory-txt-color: white;
  --op-bg-color: #ffff00;
  --op-txt-color: rgb(0, 0, 0);
  --equals-bg-color: #ceacd4;
  --equals-txt-color: rgb(0, 0, 0);
  --ac-bg-color: rgb(1, 246, 181);
  --ac-txt-color: rgb(0, 0, 0);
  --bksp-bg-color: #ffff00;
  --bksp-txt-color: rgb(0, 0, 0);
  --box-shadow: rgb(64, 64, 64);
  --box-shadow-darkest: rgba(0, 0, 0, 0.5);
  --box-shadow-darker: rgba(0, 0, 0, 0.4);
  --box-shadow-dark: rgba(0, 0, 0, 0.2);
  --border-color: rgb(185, 185, 185);
  --drop-shadow-btn: magenta;
}

* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

input {
  transform: scale(2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #757575, #424242);
  border: 6px outset var(--border-color);
  border-radius: 10px;
  padding: 16px 18px;
  box-shadow: 0 8px 16px var(--box-shadow-darkest);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
  margin-bottom: 20px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  gap: 8px;
  background-color: var(--calculator-color);
  width: 100%;
  height: 90%;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 15px var(--box-shadow-darker);
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--display-color);
  width: 100%;
  height: 3em;
  border-radius: 5px;
  padding: 46px 13px 46px 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px var(--box-shadow-dark);
}

#displayText {
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: var(--display-txt-color);
}

.button {
  font-size: 1.5em;
  font-weight: 900;
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  box-shadow: 0 4px var(--box-shadow-dark);
  cursor: pointer;
  transition: all 200ms;
}

.button.special {
  background-color: var(--equals-bg-color);
  color: var(--equals-txt-color);
}

.button.memory,
.button.clear {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--memory-bg-color);
  color: var(--memory-txt-color);
  border-radius: 20%;
  height: 75%;
}

.button.backspace {
  background-color: var(--bksp-bg-color);
  color: var(--bksp-txt-color);
}

.button.point {
  background-color: var(--button-bg-color);
  color: var(--button-txt-color);
}

.button.operator {
  background-color: var(--op-bg-color);
  color: var(--op-txt-color);
}

.button:hover {
  filter: brightness(1.3);
  filter: drop-shadow(var(--drop-shadow-btn) 10px 10px 20px) invert(100%);
}

.button:active,
.button.keyboard-active {
  filter: brightness(0.8);
}

#allClear {
  grid-column: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ac-bg-color);
  color: var(--ac-txt-color);
  border-radius: 5px;
  height: 80%;
  box-shadow: 2px 2px var(--box-shadow);
  cursor: pointer;
}

#calcLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2 / 5;
  align-self: center;
  justify-self: center;
  padding-bottom: 16px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

.calc-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
}

.display-blink {
  animation: 100ms blink;
}

#upper-calc-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#color-scheme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 40px;
  width: 100px;
  position: relative;
  outline: none;
  border-radius: 20px;
  overflow: hidden;
}

#color-scheme-toggle span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 0.3s;
}

#color-scheme-toggle span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: rgb(255, 232, 103);
  box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
}

#color-scheme-toggle span:nth-child(2) {
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 105);
  box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
}

#color-scheme-toggle.dark-mode span:nth-child(1) {
  background-color: #10003b;
}

#color-scheme-toggle.dark-mode span:nth-child(2) {
  left: 65px;
  background-color: cyan
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}