@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=M+PLUS+1+Code:wght@100..700&family=M+PLUS+1:wght@100..900&family=M+PLUS+1p&family=M+PLUS+2:wght@100..900&family=M+PLUS+Code+Latin:wght@100..700&family=M+PLUS+Rounded+1c&display=swap');

* {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.125em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #757575, #424242);
  border: 4px outset grey;
  border-radius: 10px;
  padding: 16px 18px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  gap: 8px;
  background-color: #9e9e9e;
  width: 100%;
  height: 90%;
  border-radius: 6px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}

.display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f1f1f1;
  width: 100%;
  height: 3em;
  border-radius: 5px;
  padding: 46px 13px 46px 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#displayText {
  font-family: "M PLUS Code Latin", sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: black;
}

.button {
  font-size: 1.5em;
  background-color: #616161;
  color: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 200ms;
}

.button.special {
  background-color: #009688;
}

.button.special.memory {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(122, 49, 49);
  border-radius: 20%;
  height: 75%;
}

button#allClear {
  grid-column: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(58, 49, 122);
  border-radius: initial;
  height: 80%;
  box-shadow: 0 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

p#calcLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-column: 2 / 5;
  font-size: 1em;
}

.calc-title {
  text-align: center;
  font-weight: 900;
  font-size: 1.5em;
}

.button.operator {
  background-color: #ff5722;
}

.button:hover {
  filter: brightness(1.3);
  filter: drop-shadow(green 10px 10px 20px) invert(100%);
}

.button:active,
.button.keyboard-active {
  filter: brightness(0.8);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.display-blink {
  animation: 100ms blink;
}

.button.backspace {
  background-color: #ff5722;
}

.button.point {
  background-color: #616161;
}